<div class="body">


    <form>
        <fieldset>
            <legend>
                User personal information
            </legend>
            <label>Enter your  first name</label>
            <input type="text" name="first_name"  />
            <label>Enter your last name</label>
            <input type="text" name="last-name" />

            <label>Enter your email</label>
            <input type="email" name="email"/>
            <label>Enter your password</label>
            <input type="password" name="pass"/>

            <label>Enter your groups</label>
            <input type="text" name="groups" />

            <label>Activiyt</label>
            <input type="text" name="activity" />

            <label>Monthyl effort</label>
            <input type="text" name="effort"/>


            <label>Enter your hire date</label>
            <input type="date" name="dob" />
            <button class="btn text-white btn-sm bg-success" >save</button>
        </fieldset>
    </form>
</div>